@media (max-width: 2300px) {
    .header {
        padding-bottom: 250px;
    }
}

@media (max-width: 2200px) {
    .header {
        padding-bottom: 200px;
    }
}

@media (max-width: 1921px) {
    .header {
        padding-bottom: 150px;
    }
}

@media (max-width: 1790px) {
    .header {
        padding-bottom: 50px;
    }
}

@media (max-width: 1650px) {
    .header {
        padding-bottom: 0;
    }
}

@media (max-width: 1440px) {
    .info {
        padding-top: 220px;
    }
}


@media (max-width: 1367px) {
    .info {
        padding-top: 180px;
    }
}

@media (max-width: 1280px) {
    .info {
        padding-top: 130px;
    }
}